In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
#Import csv
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", 
                                on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
# Create table summarizing District Data
# School name Count
school_count = school_data_complete["school_name"].nunique()
school_count

15

In [4]:
# Total Number of Students
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [5]:
# Total Budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [6]:
# Average Math Score
avg_math_score = school_data_complete["math_score"].mean()
avg_math_score

78.98537145774827

In [7]:
# Average Reading Score
avg_read_score = school_data_complete["reading_score"].mean()
avg_read_score

81.87784018381414

In [8]:
# Overall Passing Rate of Math and Reading
overall_passing = (avg_math_score+avg_read_score)/2
overall_passing

80.43160582078121

In [9]:
# Percent of Passing Math Scores
passing_math_count= school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]

In [10]:
percent_math = (passing_math_count/student_count)*100
percent_math

74.9808526933878

In [11]:
# Percent of Passing Reading Scores
passing_read_count= school_data_complete[
    (school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_read_count

33610

In [12]:
percent_read = (passing_read_count/student_count)*100
percent_read

85.80546336482001

In [13]:
# Creating dictionary of District Summary
district_summary_dict={"Total Schools": [school_count],
                                "Total Students": [student_count],
                                "Total Budget": [total_budget],
                                "Average Math Score": [avg_math_score],
                                "Average Reading Score": [avg_read_score],
                                "% Passing Math": [percent_math],
                                "% Passing Reading": [percent_read],
                                "% Overall Passing Rate": [overall_passing]}

In [14]:
district_summary_dict

{'Total Schools': [15],
 'Total Students': [39170],
 'Total Budget': [24649428],
 'Average Math Score': [78.98537145774827],
 'Average Reading Score': [81.87784018381414],
 '% Passing Math': [74.9808526933878],
 '% Passing Reading': [85.80546336482001],
 '% Overall Passing Rate': [80.43160582078121]}

In [15]:
# Create DataFrame for District
summary_dist_df = pd.DataFrame(district_summary_dict)
summary_dist_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [16]:
# Finalized District Summary
summary_dist_df["Total Students"] = summary_dist_df["Total Students"].map("{:,}".format)
summary_dist_df["Total Budget"]   = summary_dist_df["Total Budget"].map("${:,.2f}".format)
summary_dist_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606

In [17]:
# Begin on School Summary
#School Name
school_type = school_data_complete

In [18]:
# School Type
school_type = school_data_complete.set_index(["school_name"])["type"]
school_type.head()

school_name
Huang High School    District
Huang High School    District
Huang High School    District
Huang High School    District
Huang High School    District
Name: type, dtype: object

In [19]:
# Calculate NUmber of Students Per School
students_per_school = school_data_complete["school_name"].value_counts()
students_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [20]:
# Calculate School Budget
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [21]:
# Calculater Per Student Budget
per_student_budget = per_school_budget / students_per_school
per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [22]:
# Calculating Average Math Score Per School
avg_math_per_school = school_data_complete.groupby(["school_name"]).mean()["math_score"]
avg_math_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [23]:
# Calculate Average Reading Score Per School
avg_read_per_school = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
avg_read_per_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [24]:
# Calculate Percent of Passing Math Scores of All Schools
passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [25]:
# Calculate Passing Math Per School
passing_math = passing_math.groupby(["school_name"]).count()["student_name"]
# Calculate Percent of Passing Math
percent_passing_math = passing_math / students_per_school*100
percent_passing_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [26]:
# Calculat Percent of Passing Reading Scores of All
passing_read = school_data_complete[(school_data_complete["reading_score"] >= 70)]
passing_read.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [27]:
# Calculate Passing Reading Per School
passing_read = passing_read.groupby(["school_name"]).count()["student_name"]
# Calculate Percent of Passing Read Scores
percent_passing_read = passing_read / students_per_school*100
percent_passing_read

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [28]:
# Calculate Overall Passing Rate 
overall_passing_per_school = (percent_passing_math + percent_passing_read) / 2
overall_passing_per_school

Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [29]:
# Create the Per School Summary!

per_school_df = pd.DataFrame ({"School Type": school_type,
                               "Total Students": students_per_school,
                               "Total School Budget": per_school_budget,
                               "Average Math Score": avg_math_per_school,
                               "Average Reading School": avg_read_per_school,
                               "Percentage of Passing Math": percent_passing_math,
                               "Percentage of Passing Reading": percent_passing_read,
                               "Overall Passing Rate": overall_passing_per_school})
per_school_df

ValueError: cannot reindex from a duplicate axis