In [221]:
# Dependencies
import pandas as pd
import numpy as np

In [222]:
#Import csv
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", 
                                on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [223]:
# Create table summarizing District Data
# School name Count
school_count = school_data_complete["school_name"].nunique()
school_count

15

In [224]:
# Total Number of Students
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [225]:
# Total Budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [226]:
# Average Math Score
avg_math_score = school_data_complete["math_score"].mean()
avg_math_score

78.98537145774827

In [227]:
# Average Reading Score
avg_read_score = school_data_complete["reading_score"].mean()
avg_read_score

81.87784018381414

In [228]:
# Overall Passing Rate of Math and Reading
overall_passing = (avg_math_score+avg_read_score)/2
overall_passing

80.43160582078121

In [229]:
# Percent of Passing Math Scores
passing_math_count= school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]

In [230]:
percent_math = (passing_math_count/student_count)*100
percent_math

74.9808526933878

In [231]:
# Percent of Passing Reading Scores
passing_read_count= school_data_complete[
    (school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_read_count

33610

In [232]:
percent_read = (passing_read_count/student_count)*100
percent_read

85.80546336482001

In [233]:
# Creating dictionary of District Summary
district_summary_dict={"Total Schools": [school_count],
                                "Total Students": [student_count],
                                "Total Budget": [total_budget],
                                "Average Math Score": [avg_math_score],
                                "Average Reading Score": [avg_read_score],
                                "% Passing Math": [percent_math],
                                "% Passing Reading": [percent_read],
                                "% Overall Passing Rate": [overall_passing]}

In [234]:
district_summary_dict

{'Total Schools': [15],
 'Total Students': [39170],
 'Total Budget': [24649428],
 'Average Math Score': [78.98537145774827],
 'Average Reading Score': [81.87784018381414],
 '% Passing Math': [74.9808526933878],
 '% Passing Reading': [85.80546336482001],
 '% Overall Passing Rate': [80.43160582078121]}

In [235]:
# Create DataFrame for District
summary_dist_df = pd.DataFrame(district_summary_dict)
summary_dist_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [236]:
# Finalized District Summary
summary_dist_df["Total Students"] = summary_dist_df["Total Students"].map("{:,}".format)
summary_dist_df["Total Budget"]   = summary_dist_df["Total Budget"].map("${:,.2f}".format)
summary_dist_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606

In [237]:
# Begin on School Summary

In [251]:
# School Type
school_type = school_data_complete.set_index(["school_name"])["type"]
school_type2 = school_type["type"]

In [252]:
# Calculate NUmber of Students Per School
students_per_school = school_data_complete["school_name"].value_counts()
students_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [253]:
# Calculate School Budget
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [254]:
# Calculater Per Student Budget
per_student_budget = per_school_budget / students_per_school
per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [255]:
# Calculating Average Math Score Per School
avg_math_per_school = round(school_data_complete.groupby(["school_name"]).mean()["math_score"],2)
avg_math_per_school

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [256]:
# Calculate Average Reading Score Per School
avg_read_per_school = round(school_data_complete.groupby(["school_name"]).mean()["reading_score"],2)
avg_read_per_school

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [257]:
# Calculate Percent of Passing Math Scores of All Schools
passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]

In [258]:
# Calculate Passing Math Per School
passing_math = passing_math.groupby(["school_name"]).count()["student_name"]
# Calculate Percent of Passing Math
percent_passing_math = round(passing_math / students_per_school*100,2)
percent_passing_math

Bailey High School       66.68
Cabrera High School      94.13
Figueroa High School     65.99
Ford High School         68.31
Griffin High School      93.39
Hernandez High School    66.75
Holden High School       92.51
Huang High School        65.68
Johnson High School      66.06
Pena High School         94.59
Rodriguez High School    66.37
Shelton High School      93.87
Thomas High School       93.27
Wilson High School       93.87
Wright High School       93.33
dtype: float64

In [259]:
# Calculat Percent of Passing Reading Scores of All
passing_read = school_data_complete[(school_data_complete["reading_score"] >= 70)]

In [260]:
# Calculate Passing Reading Per School
passing_read = passing_read.groupby(["school_name"]).count()["student_name"]
# Calculate Percent of Passing Read Scores
percent_passing_read = round(passing_read / students_per_school*100,2)
percent_passing_read

Bailey High School       81.93
Cabrera High School      97.04
Figueroa High School     80.74
Ford High School         79.30
Griffin High School      97.14
Hernandez High School    80.86
Holden High School       96.25
Huang High School        81.32
Johnson High School      81.22
Pena High School         95.95
Rodriguez High School    80.22
Shelton High School      95.85
Thomas High School       97.31
Wilson High School       96.54
Wright High School       96.61
dtype: float64

In [261]:
# Calculate Overall Passing Rate 
overall_passing_per_school = round((percent_passing_math + percent_passing_read) / 2,2)
overall_passing_per_school

Bailey High School       74.31
Cabrera High School      95.58
Figueroa High School     73.36
Ford High School         73.81
Griffin High School      95.26
Hernandez High School    73.81
Holden High School       94.38
Huang High School        73.50
Johnson High School      73.64
Pena High School         95.27
Rodriguez High School    73.30
Shelton High School      94.86
Thomas High School       95.29
Wilson High School       95.21
Wright High School       94.97
dtype: float64

In [262]:
# Create Dictionarty of School Summary

school_summary_dict = {"School Type": [school_type2],
                       "Total Students": [students_per_school],
                       "Total School Budget": [per_school_budget],
                       "Per Student Budget": [per_student_budget],
                       "Average Math Score": [avg_math_per_school],
                       "Average Reading Score": [avg_read_per_school],
                       "% Passing Math": [percent_passing_math],
                       "% Passing Read": [percent_passing_read],
                       "Overall Passing Rate": [overall_passing_per_school]}
school_summary_dict

{'School Type': [school_name
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
  Huang High School     District
                          ...
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Thomas High School     Charter
  Name: type, Length: 39170, dtype: object],
 'Total Students': [Bailey High School       4976
  Johnson High School      4761
  Hernandez High School    4635
  Rodriguez High School    3999
  Figueroa High School     2949
  Huang High School        2917
  Ford High School         2739
  Wilson High School       2283
  Cabrera High School      1858
  Wright High School       1800
  Shelton High School      1761
  Thomas High School       1635
  Griffin High School      1468
  Pena High School          962
  Holden High School        427
  Name: school_name, dtype: int64],
 'Total School Budget': [school_name
  Bailey High School       3124928.0
  Cabrera High School      1081356.0
  Figueroa High School     1884411.0
  Ford High School         1763916.0
  Griffin High School       917500.0
  Hernandez High School    3022020.0
  Holden High School        248087.0
  Huang High School        1910635.0
  Johnson High School      3094650.0
  Pena High School          585858.0
  Rodriguez High School    2547363.0
  Shelton High School      1056600.0
  Thomas High School       1043130.0
  Wilson High School       1319574.0
  Wright High School       1049400.0
  Name: budget, dtype: float64],
 'Per Student Budget': [Bailey High School       628.0
  Cabrera High School      582.0
  Figueroa High School     639.0
  Ford High School         644.0
  Griffin High School      625.0
  Hernandez High School    652.0
  Holden High School       581.0
  Huang High School        655.0
  Johnson High School      650.0
  Pena High School         609.0
  Rodriguez High School    637.0
  Shelton High School      600.0
  Thomas High School       638.0
  Wilson High School       578.0
  Wright High School       583.0
  dtype: float64],
 'Average Math Score': [school_name
  Bailey High School       77.05
  Cabrera High School      83.06
  Figueroa High School     76.71
  Ford High School         77.10
  Griffin High School      83.35
  Hernandez High School    77.29
  Holden High School       83.80
  Huang High School        76.63
  Johnson High School      77.07
  Pena High School         83.84
  Rodriguez High School    76.84
  Shelton High School      83.36
  Thomas High School       83.42
  Wilson High School       83.27
  Wright High School       83.68
  Name: math_score, dtype: float64],
 'Average Reading Score': [school_name
  Bailey High School       81.03
  Cabrera High School      83.98
  Figueroa High School     81.16
  Ford High School         80.75
  Griffin High School      83.82
  Hernandez High School    80.93
  Holden High School       83.81
  Huang High School        81.18
  Johnson High School      80.97
  Pena High School         84.04
  Rodriguez High School    80.74
  Shelton High School      83.73
  Thomas High School       83.85
  Wilson High School       83.99
  Wright High School       83.96
  Name: reading_score, dtype: float64],
 '% Passing Math': [Bailey High School       66.68
  Cabrera High School      94.13
  Figueroa High School     65.99
  Ford High School         68.31
  Griffin High School      93.39
  Hernandez High School    66.75
  Holden High School       92.51
  Huang High School        65.68
  Johnson High School      66.06
  Pena High School         94.59
  Rodriguez High School    66.37
  Shelton High School      93.87
  Thomas High School       93.27
  Wilson High School       93.87
  Wright High School       93.33
  dtype: float64],
 '% Passing Read': [Bailey High School       81.93
  Cabrera High School      97.04
  Figueroa High School     80.74
  Ford High School         79.30
  Griffin High School      97.14
  Hernandez High School    80.86
  Holden High School       96.25
  Huang High School        81.32
  Johnson High School      81.22
  Pena High School         95.95
  Rodriguez High School    80.22
  Shelton High School      95.85
  Thomas High School       97.31
  Wilson High School       96.54
  Wright High School       96.61
  dtype: float64],
 'Overall Passing Rate': [Bailey High School       74.31
  Cabrera High School      95.58
  Figueroa High School     73.36
  Ford High School         73.81
  Griffin High School      95.26
  Hernandez High School    73.81
  Holden High School       94.38
  Huang High School        73.50
  Johnson High School      73.64
  Pena High School         95.27
  Rodriguez High School    73.30
  Shelton High School      94.86
  Thomas High School       95.29
  Wilson High School       95.21
  Wright High School       94.97
  dtype: float64]}

In [263]:
school_summary_df = pd.DataFrame(school_summary_dict) 
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Read,Overall Passing Rate
0,school_name Huang High School District Hua...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928.0...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.05 Cab...,school_name Bailey High School 81.03 Cab...,Bailey High School 66.68 Cabrera High Sc...,Bailey High School 81.93 Cabrera High Sc...,Bailey High School 74.31 Cabrera High Sc...