In [587]:
# Dependencies
import pandas as pd
import numpy as np

In [588]:
#Import csv
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", 
                                on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [589]:
#Remove Duplicates
school_data_no_duplicates = school_data_complete[~df.index.duplicated()]
school_data_no_duplicates

ValueError: Item wrong length 15 instead of 39170.

In [590]:
# Create table summarizing District Data
# School name Count
school_count = school_data_complete["school_name"].nunique()
school_count

15

In [591]:
# Total Number of Students
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [592]:
# Total Budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [593]:
# Average Math Score
avg_math_score = round(school_data_complete["math_score"].mean(),2)
avg_math_score

78.99

In [594]:
# Average Reading Score
avg_read_score = round(school_data_complete["reading_score"].mean(),2)
avg_read_score

81.88

In [595]:
# Overall Passing Rate of Math and Reading
overall_passing = round((avg_math_score+avg_read_score)/2,2)
overall_passing

80.44

In [596]:
# Percent of Passing Math Scores
passing_math_count= school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]

In [597]:
percent_math = round((passing_math_count/student_count)*100,2)
percent_math

74.98

In [598]:
# Percent of Passing Reading Scores
passing_read_count= school_data_complete[
    (school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_read_count

33610

In [599]:
percent_read = round((passing_read_count/student_count)*100,2)
percent_read

85.81

In [600]:
# Creating dictionary of District Summary
district_summary_dict={"Total Schools": [school_count],
                                "Total Students": [student_count],
                                "Total Budget": [total_budget],
                                "Average Math Score": [avg_math_score],
                                "Average Reading Score": [avg_read_score],
                                "% Passing Math": [percent_math],
                                "% Passing Reading": [percent_read],
                                "% Overall Passing Rate": [overall_passing]}

In [601]:
district_summary_dict

{'Total Schools': [15],
 'Total Students': [39170],
 'Total Budget': [24649428],
 'Average Math Score': [78.99],
 'Average Reading Score': [81.88],
 '% Passing Math': [74.98],
 '% Passing Reading': [85.81],
 '% Overall Passing Rate': [80.44]}

In [602]:
# Create DataFrame for District
summary_dist_df = pd.DataFrame(district_summary_dict)
summary_dist_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.44

In [603]:
# Finalized District Summary
summary_dist_df["Total Students"] = summary_dist_df["Total Students"].map("{:,}".format)
summary_dist_df["Total Budget"]   = summary_dist_df["Total Budget"].map("${:,.2f}".format)
summary_dist_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,80.44

In [604]:
# Begin on School Summary

In [605]:
# schools_data = school_data_complete.drop(["Student ID", "student_name", "grade", "gender"], axis=1,inplace=False)

# school_data_complete2 = pd.merge(student_data, school_data, how="left", 
#                                 on=["school_name", "school_name"])
# school_data_complete2.head()

In [606]:
# **School Type
school_type = school_data_no_duplicates.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [607]:
# Calculate NUmber of Students Per School
students_per_school = school_data_complete["school_name"].value_counts()
students_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [608]:
# Calculate School Budget
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [609]:
# Calculater Per Student Budget
per_student_budget = per_school_budget / students_per_school
per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [610]:
# Calculating Average Math Score Per School
avg_math_per_school = round(school_data_complete.groupby(["school_name"]).mean()["math_score"],2)
avg_math_per_school

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [611]:
# Calculate Average Reading Score Per School
avg_read_per_school = round(school_data_complete.groupby(["school_name"]).mean()["reading_score"],2)
avg_read_per_school

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [612]:
# Calculate Percent of Passing Math Scores of All Schools
passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]

In [613]:
# Calculate Passing Math Per School
passing_math = passing_math.groupby(["school_name"]).count()["student_name"]
# Calculate Percent of Passing Math
percent_passing_math = round(passing_math / students_per_school*100,2)
percent_passing_math

Bailey High School       66.68
Cabrera High School      94.13
Figueroa High School     65.99
Ford High School         68.31
Griffin High School      93.39
Hernandez High School    66.75
Holden High School       92.51
Huang High School        65.68
Johnson High School      66.06
Pena High School         94.59
Rodriguez High School    66.37
Shelton High School      93.87
Thomas High School       93.27
Wilson High School       93.87
Wright High School       93.33
dtype: float64

In [614]:
# Calculat Percent of Passing Reading Scores of All
passing_read = school_data_complete[(school_data_complete["reading_score"] >= 70)]

In [615]:
# Calculate Passing Reading Per School
passing_read = passing_read.groupby(["school_name"]).count()["student_name"]
# Calculate Percent of Passing Read Scores
percent_passing_read = round(passing_read / students_per_school*100,2)
percent_passing_read

Bailey High School       81.93
Cabrera High School      97.04
Figueroa High School     80.74
Ford High School         79.30
Griffin High School      97.14
Hernandez High School    80.86
Holden High School       96.25
Huang High School        81.32
Johnson High School      81.22
Pena High School         95.95
Rodriguez High School    80.22
Shelton High School      95.85
Thomas High School       97.31
Wilson High School       96.54
Wright High School       96.61
dtype: float64

In [616]:
# Calculate Overall Passing Rate 
overall_passing_per_school = round((percent_passing_math + percent_passing_read) / 2,2)
overall_passing_per_school

Bailey High School       74.31
Cabrera High School      95.58
Figueroa High School     73.36
Ford High School         73.81
Griffin High School      95.26
Hernandez High School    73.81
Holden High School       94.38
Huang High School        73.50
Johnson High School      73.64
Pena High School         95.27
Rodriguez High School    73.30
Shelton High School      94.86
Thomas High School       95.29
Wilson High School       95.21
Wright High School       94.97
dtype: float64

In [617]:
# Create Dictionarty of School Summary

# school_summary_dict = {"School Type": [school_type],
                       #"Total Students": [students_per_school],
                       #"Total School Budget": [per_school_budget],
                       #"Per Student Budget": [per_student_budget],
                       #"Average Math Score": [avg_math_per_school],
                       #"Average Reading Score": [avg_read_per_school],
                       #"% Passing Math": [percent_passing_math],
                       #"% Passing Read": [percent_passing_read],
                       #"Overall Passing Rate": [overall_passing_per_school]}

school_summary_df = pd.DataFrame ({"School Type": school_type,
                       "Total Students": students_per_school,
                       "Total School Budget": per_school_budget,
                       "Per Student Budget": per_student_budget,
                       "Average Math Score": avg_math_per_school,
                       "Average Reading Score": avg_read_per_school,
                       "% Passing Math": percent_passing_math,
                       "% Passing Read": percent_passing_read,
                       "Overall Passing Rate": overall_passing_per_school})

school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Read,Overall Passing Rate
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,66.68,81.93,74.31
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,95.58
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,65.99,80.74,73.36
Ford High School,District,2739,1763916.0,644.0,77.10,80.75,68.31,79.30,73.81
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,93.39,97.14,95.26
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,66.75,80.86,73.81
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,92.51,96.25,94.38
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,65.68,81.32,73.50
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,66.06,81.22,73.64
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,94.59,95.95,95.27
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,66.37,80.22,73.30
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,93.87,95.85,94.86
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,93.27,97.31,95.29
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,93.87,96.54,95.21
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,93.33,96.61,94.97

In [618]:
# Finalized School Summary
school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,}".format)
school_summary_df["Total School Budget"]   = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Read,Overall Passing Rate
Bailey High School,District,"4,976","$3,124,928.00",628.0,77.05,81.03,66.68,81.93,74.31
Cabrera High School,Charter,"1,858","$1,081,356.00",582.0,83.06,83.98,94.13,97.04,95.58
Figueroa High School,District,"2,949","$1,884,411.00",639.0,76.71,81.16,65.99,80.74,73.36
Ford High School,District,"2,739","$1,763,916.00",644.0,77.10,80.75,68.31,79.30,73.81
Griffin High School,Charter,"1,468","$917,500.00",625.0,83.35,83.82,93.39,97.14,95.26

In [621]:
#Calculate Top 5 Schools
top_performing_schools = school_summary_df.sort_values(["Overall Passing Rate"],ascending = False).head(5)
top_performing_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Read,Overall Passing Rate
Cabrera High School,Charter,"1,858","$1,081,356.00",582.0,83.06,83.98,94.13,97.04,95.58
Thomas High School,Charter,"1,635","$1,043,130.00",638.0,83.42,83.85,93.27,97.31,95.29
Pena High School,Charter,962,"$585,858.00",609.0,83.84,84.04,94.59,95.95,95.27
Griffin High School,Charter,"1,468","$917,500.00",625.0,83.35,83.82,93.39,97.14,95.26
Wilson High School,Charter,"2,283","$1,319,574.00",578.0,83.27,83.99,93.87,96.54,95.21

In [620]:
#Calculate Bottom 5 Schools
bottom_performing_schools = school_summary_df.sort_values(["Overall Passing Rate"],ascending = True).tail(5)
bottom_performing_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Read,Overall Passing Rate
Wilson High School,Charter,"2,283","$1,319,574.00",578.0,83.27,83.99,93.87,96.54,95.21
Griffin High School,Charter,"1,468","$917,500.00",625.0,83.35,83.82,93.39,97.14,95.26
Pena High School,Charter,962,"$585,858.00",609.0,83.84,84.04,94.59,95.95,95.27
Thomas High School,Charter,"1,635","$1,043,130.00",638.0,83.42,83.85,93.27,97.31,95.29
Cabrera High School,Charter,"1,858","$1,081,356.00",582.0,83.06,83.98,94.13,97.04,95.58

In [631]:
#Calculate Math Scores by Grade
#Establish Grades with Merged Data
nineth_grade = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_grade = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_grade = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_grade = school_data_complete[(school_data_complete["grade"] == "12th")]

#Establish Math Scores per Grade
nineth_grade_scores = nineth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

# Combine series into single data frame
scores_by_grade = pd.DataFrame({"9th": nineth_grade_scores, 
                                "10th": tenth_grade_scores,
                                "11th": eleventh_grade_scores, 
                                "12th": twelfth_grade_scores})

scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [632]:
#Calculate Reading Scores by Grade
#Establish Grades with Merged Data
nineth_grade = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_grade = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_grade = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_grade = school_data_complete[(school_data_complete["grade"] == "12th")]

#Establish Reading Scores per Grade
nineth_grade_scores = nineth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

# Combine series into single data frame
scores_by_grade = pd.DataFrame({"9th": nineth_grade_scores, 
                                "10th": tenth_grade_scores,
                                "11th": eleventh_grade_scores, 
                                "12th": twelfth_grade_scores})

scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171